/* Meaghan Porrello */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    --yellow: #f6d64a;
    --teal: #55bcd5;
    --purple: #9b26b0;
    --blue: #499bd2;
    --dk-gray: #222222;
    --lt-gray: #eaeaea;
    --white: #ffffff;
    --black: #000000;
  }
  
  #skip{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
   
  #skip:focus{
    position: static;
    width: auto;
    height: auto;
  }

  body{
    width: 320px;
    margin: 0 auto;
    position: relative;
    font-family: "Montserrat", sans-serif;
  }

  header{
    background: linear-gradient(to bottom, #55bcd5, #ffffff);
  }


  nav{
    background: var(--black);
    width: 320px;
}

/*menu*/
#toggle{
    display: none;
}

#logo img{
    width: 120px;
}

.sr-only{
    display: none;
}

label[for="toggle"]{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    display: block;
    padding: 15px 20px;
    background-color: var(--dk-gray);
    color: white;
    width: 320px; 
    box-sizing: border-box; 
    text-align: center;
    position: absolute;
    top: 20px;
    right: 0;
}

#menu-toggle ul{
    width: 320px;
    display: none;
    background-color: var(--black);
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute; /* Take the ul out of the normal document flow */
    top: 66px; /* Position below the label or menu */
}

#toggle:checked + label + ul{
    display: block;
}

#menu-toggle ul li{
    margin: 0;
}


#menu-toggle ul li a{
    color: var(--black);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 30px;
    display: block;
    background-color: var(--teal);
    margin-top: 1px;
    
}

#menu-toggle ul li a:hover{
    background-color: #ddd;
}

#toggle:not(:checked) + label{
    padding: 12px;
    right: 290px;
    top: 20px;
    width: 175px;
    text-align: center;
    color: var(--black);
    background-color: var(--yellow);
    position: absolute;
    top: 20px;
    right: 0;
}

/* header styles */
h1{
    font-family: "Molle", cursive;
    font-size: 2.5rem;
    margin: 30px 30px 0 30px;
}

header p{
    margin: 5px 30px 20px 30px;
    line-height: 1.5;
}

header img{
    margin-top: 10px;
}

/* main styles */
#intro h2{
    font-family: "Molle", cursive;
    font-size: 1.75rem;
    margin: 30px 30px 0 30px;
}

#intro p{
    margin: 5px 20px 30px 30px;
    font-size: .85rem;
    line-height: 2;
}

#img-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1rem;
    justify-items: center;
}

#img-grid img{
    max-width: 100%;
    padding-bottom: 10px;
}

#img-grid picture img{
    width: 320px;
    height: 260px;
    object-fit: cover;
    object-position: 70% 15%;
}

/* plan styles */
#plan{ 
    background-color: var(--yellow);
}

#plan h3,
#testimonials h3,
#about h3,
#contact h3{
    font-family: "Molle", cursive;
    font-size: 1.85rem;
    padding: 20px 30px;
}

#plan div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#plan section{
    background-color: var(--teal);
    margin: 10px;
    width: 250px;
    height: 230px;
    outline: 3px solid var(--white);
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#plan section:hover{
    background-color: var(--purple);
}

#plan section img{
    width: 130px;
}

#plan h4{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 10px;
}

/* testimonials styles */
#testimonials div{
    display: flex;
    flex-direction: column;
}

#testimonials div section{
    text-align: center;
    padding: 0 40px 10px 40px;
}

#testimonials div section img{
    width: 70%;
}

#testimonials div section h4{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
}

#testimonials div section q{
    font-style: italic;
}

#testimonials div section q::before, 
#testimonials div section q::after{
    content: '"';
}

/* about styles */
#about{
    background-color: var(--blue);
}

#about div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 150px;
    padding: 0 1.5rem;
    gap: 0.5rem;
}

#about div section{
    text-align: center;
}

#about div section h4{
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 0;

}

#about div section img{
    height: 50%;
}

/* form styles */
#contact form{
    display: flex;
    flex-direction: column;
    padding: 5px 20px;
}

#contact .form-required{
    font-family: "Montserrat", sans-serif;
    text-transform: lowercase;
    font-style: italic;
    font-size: 16px;
}

#contact .required, 
#mySubmit{
    color: var(--purple);
}

#contact label, 
legend{
    text-transform: uppercase;
    font-weight: bold;
}

#contact input, 
#selects select{
    border: 3px solid var(--purple);
    margin-bottom: 20px;
    padding: 15px;
}

#contact ::placeholder, 
#contact :disabled{
    color: var(--dk-gray);
    font-size: 1rem;
    font-weight: 100;
}

#names, 
#nums, 
#nums fieldset{
    display: flex;
    flex-direction: column;
}

#nums .radio-input{
    accent-color: var(--purple);
    vertical-align: middle;
}

#nums fieldset label{
    font-weight: 500;
    text-transform: none;
    cursor: pointer;
}

#prefEmail, 
#prefText, 
#prefPhone{
    width: 60px;
    height: 60px;
}

#selects select{
    width: 100%;
}

#mySubmit{
    background-color: var(--purple);
    width: 100%;
    color: var(--white);
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
}

#mySubmit:hover,
#nums fieldset input[type="radio"]:hover,
#destination:hover,
#travelTime:hover{
    cursor: pointer;
}

#nums .radio-label{
    margin-bottom: 3000px;
}
   
/* footer styles */
footer{
    background-color: var(--lt-gray);
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1.5rem;
    padding: 10px;
    font-size: 12px;
}

footer a{
    text-decoration: none;
    color: var(--black);
}

@media (min-width: 768px){
    body{
        width: 550px;
      }

    #logo img{
        width: 185px;
        margin-top: 30px;
    }

    header{
        height: 220px;
    }

    nav{
        background: transparent;
    }

    #toggle:not(:checked) + label,
    label[for="toggle"]{
        display: none;
    }

    #menu-toggle ul{
        background: transparent;
        width: 550px; 
        display: grid;
        grid-template-columns: repeat(6, 1fr); 
        gap: 15px;
        font-size: 12px;
        margin: 0;
        position: relative;
        top: -100px;
        left: 0;
    }
    
    #menu-toggle ul li{
        display: flex; 
        align-items: center;
        justify-content: center;
    }
    
    #menu-toggle ul li a{
        display: block; 
        padding: 15px;
        background-color: var(--white);
        text-align: center; 
        width: 100%; 
        height: 100%; 
        box-sizing: border-box; 
        white-space: nowrap;
    }
    
    #menu-toggle ul li:nth-child(1){
        grid-column: 2; 
    }

    #menu-toggle ul li:nth-child(2){
        grid-column: 3; 
    }
    
    #menu-toggle ul li:nth-child(3){
        grid-column: 4;
    }
    
    #menu-toggle ul li:nth-child(4){
        grid-column: 5; 
    }
    
    #menu-toggle ul li a:hover{
        background-color: var(--yellow);
    }

    h1{
        position: relative;
        top: -100px;
        left: 150px;
    }

    header p{
        position: relative;
        top: -100px;
        left: 150px;
        margin-right: 150px;
    }

    #intro p{
        line-height: 1.35;
        margin-bottom: 5px;
    }


    #img-grid{
        margin: 0 30px 0 30px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 15px;
        grid-row-gap: 10px;;
    }

    #img-grid img{
        padding-bottom: 0;
    }

    #img-grid img[src*="waves"]{
        grid-column: 2;
        grid-row: 1;
    }

    #img-grid img[src*="beach"]{
        grid-column: 1;
        grid-row: 1;
    }

    #img-grid picture{
        grid-column: 1/ span 2;
    }

    #img-grid picture img{
        width: auto; 
        height: auto; 
        object-fit: contain; 
        object-position: center
    }

    #plan div, 
    #testimonials div{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0 25px 10px 35px;
    }

    #plan section{
        width: 220px;
        height: 180px;
    }

    #plan section img{
        width: 100px;
    }

    #testimonials h4{
        padding-bottom: .5rem;
    }

    #about div{
        display: flex;
        padding: 0;
        justify-content: space-around;
    }

    #about div section img{
        width: 70%;
    }

    #testimonials div section img{
        width: 90%;
    }

    #contact form{
        padding: 0;
    }

    #nums fieldset{
        flex-direction: row;
        justify-content: space-between;
    }

    #selects{
        display: flex;
        flex-direction: column;
    }

    #mySubmit{
        width: 50%;
        align-self: end;
    }

    footer{
        display: flex;
        padding: 30px 10px 15px 10px;
        justify-content: space-around;
    }

}

@media screen and (min-width: 1200px){
    body{
        width: 1500px;
      }

    #menu-toggle ul{
        top: -235px;
        left: 308%;
    }

    header{
        height: 120px;
    }
    
    #intro{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 1rem;
        padding: 80px 100px 0 100px;
        justify-content: center;
    }

    #intro h2{
        grid-column: 1;
        grid-row: 1;
    }

    #intro p{
        grid-column: 1;
        grid-row: 1;
        padding-top: 70px;
        line-height: 2;
    }

    #plan section{
        width: 350px;
        height: 300px;
    }

    #plan section img{
        width: 150px;
    }


    #plan, 
    #testimonials, 
    #about, 
    #contact{
        padding: 40px;
    }

    #plan div, 
    #testimonials div{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #testimonials div section img{
        width: 150px;
    }

    #about div section img{
        width: 100%;
    }

    #contact form{
        flex-direction: row;
        justify-content: space-between;
    }

    #contact form div{
        width: 450px;
    }

    footer p{
        margin-right: auto;
    }
}